<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>请遵医嘱定时定量使用药物，药量不能随意增减。定期监测血糖，并将结果记录，以了解用药期间血糖控制情况，适时调整药物以控制病情；请不要自行更换药物、增减药量或者停药，以免引起血糖大幅波动而诱发意外，一定在医生指导下调整用药方案；</string>
		<key>seq</key>
		<integer>1</integer>
		<key>title</key>
		<string>遵医嘱使用药物</string>
	</dict>
	<dict>
		<key>content</key>
		<string>服药期间应忌酒：乙醇具有降低血糖的作用，糖尿病病人在使用胰岛素或口服降糖药时大量饮酒可引起低血糖，甚至发生低血糖休克；</string>
		<key>seq</key>
		<integer>0</integer>
		<key>title</key>
		<string>服药期间应忌酒</string>
	</dict>
	<dict>
		<key>content</key>
		<string>低糖饮食：严格禁食高糖食品(如蜂蜜、蔗糖、麦芽糖、果糖、红糖、甜点心、冰糖、冰淇淋、甜食料、糖果、甜饼干、糕点、蜜饯、杏仁茶等纯糖制品，以及汽水和各种甜饮料)。</string>
		<key>seq</key>
		<integer>2</integer>
		<key>title</key>
		<string>低糖饮食</string>
	</dict>
	<dict>
		<key>content</key>
		<string>血糖控制不理想的一般不建议吃水果：当空腹血糖控制在7mmol/L以下，餐后2小时血糖小于10mmol/L，糖化血红蛋白小于7.5%，且血糖没有较大波动时，可以在两餐之间酌情少量吃含糖量低的水果，如柚子、猕猴桃、西红柿、西瓜和黄瓜等。吃后要注意监测血糖，并适当减少当日主食量（少吃25克的主食可换苹果、橘子、桃子150克、梨100克、西瓜500克）。</string>
		<key>seq</key>
		<integer>3</integer>
		<key>title</key>
		<string>谨慎吃吃水果</string>
	</dict>
	<dict>
		<key>content</key>
		<string>低脂饮食：选择清蒸、水煮、卤制、烩、焖、凉拌等烹调方式，可帮助减少用油量。每周吃2-3顿鱼。至少2顿是ω-3脂肪酸含量丰富的海鱼，如鳕鱼、鲱鱼、鲑鱼等。</string>
		<key>seq</key>
		<integer>4</integer>
		<key>title</key>
		<string>低脂饮食</string>
	</dict>
	<dict>
		<key>content</key>
		<string>低胆固醇饮食：限制胆固醇的摄入量，每天胆固醇摄入量&lt;300mg，如果同时患有高胆固醇血症，则要限制在200mg/d以内。不吃胆固醇含量高的食物（动物内脏、蛋黄、动物脑、鱼子、鱿鱼、乌贼、贝类、虾米等）。</string>
		<key>title</key>
		<string>低胆固醇饮食</string>
		<key>seq</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>低盐饮食：每人每日食盐量不超过6g，坚持低盐饮食。购买低钠盐和控盐勺。尽量多使用蒜、姜、葱、香菇、番茄等天然调味品调味；菜准备起锅关火时再放盐，拌匀即可。在外面就餐时选择口味清淡的餐馆，并选择口味清淡的菜品；点菜时嘱咐服务员少放盐，盛一碗开水，当菜过咸时，在开水里涮一涮再吃。</string>
		<key>title</key>
		<string>低盐饮食</string>
		<key>seq</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>少食多餐，多喝水：把原来的一日吃三餐改成一日吃四餐或五餐，一日饮食的总量不变，只是分开多次吃。首选温开水，每日至少1200ml，相当于普通一次性纸杯（200ml）6杯，少量多次，每次一杯左右。特殊时间必须喝水1杯，如晨起刷牙后、起夜、睡前1小时。</string>
		<key>title</key>
		<string>少食多餐，多喝水</string>
		<key>seq</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>保持规律的运动有助于控制血糖。可根据个人爱好选择散步、慢跑、骑自行车、爬楼梯、游泳、健身操等有氧运动运动。首选散步；每周运动3-7次；每次5-10分准备活动、20-60分钟正式运动、5分钟放松活动；运动时保持中低强度，以运动时心率衡量：（220-年龄）× 60～70%，运动时心率测算：测10秒钟脉搏×6；或周身发热、出汗，非大汗淋漓。餐后90分钟运动较为适宜；不宜在空腹、使用降糖药物60～90分钟后和晚上进行运动，运动前30-60分钟测血糖，若血糖&lt;5.6mmol/L应适当补充糖水或甜饮料后再运动。另外，运动时应随身携带糖块、含糖饼干等快速补糖食品，以便必要时及时补充糖分。如果运动中出现血糖波动较大、疲劳感明显且难以恢复等情况，应立即减小运动强度或停止运动。</string>
		<key>title</key>
		<string>保持规律的运动</string>
		<key>seq</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>尽量避免生气、激动、过度悲伤、过度兴奋、忧郁等不良情绪，以免发生意外。及时向他人倾诉心中不快。及时把那些让自己纠结、郁闷、伤心等烦心事向亲朋好友倾诉。培养多种兴趣爱好可帮助分散生活或工作上的压力，陶冶性情，比如画画、练字、养鱼、养花、下棋、写书等等。或在假期和自己喜欢的人一起到自己喜欢的地方旅游。</string>
		<key>title</key>
		<string>调整心理，陶冶性情</string>
		<key>seq</key>
		<integer>9</integer>
	</dict>
</array>
</plist>
